<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.illuminandus">

    <!--
        android:largeHeap="true"
        -->


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"


        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <activity android:name="my.illuminandus.MainActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="my.illuminandus.MainLevelSelect"/>
        <activity android:name="my.illuminandus.LevelSelectHidden"/>
        <activity android:name="my.illuminandus.LevelSelectLocked"/>
        <activity android:name="my.illuminandus.LevelSelectNormal"/>
        <activity android:name="my.illuminandus.LevelPlayHiddenWalls" />
        <activity android:name="my.illuminandus.LevelPlayChangingWalls" />
        <activity android:name="my.illuminandus.LevelPlayKeys"/>
        <activity android:name="my.illuminandus.LevelPlayNormalWalls"/>
        <activity android:name="my.illuminandus.FinishedScreen"/>
        <activity android:name="my.illuminandus.InfoScreenLevel"/>
        <activity android:name="my.illuminandus.InfoScreenGameType"/>


    </application>

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"
        />

</manifest>
